@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    margin: 0;
    width: 100vw;

    #root {
        width: 100%;

        .appDiv {
            font-family: 'Muli', sans-serif;
            font-size: 30px;
            width: 100%;
        }
    }
}


